.beforeSubFirst::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #101014bd transparent;
    position: absolute;
    top: -6px;
    right: 10px;
}

.beforeDotLists li::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #4958a5;
    margin: 6px -14px;
}
.border-circle {
    position: relative;
}

.border-circle::before {
    content: '';
    position: absolute;
    border: solid 1px rgb(255, 255, 255, 50%);
    background: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}
.border-circle::after {
    content: '';
    position: absolute;
    border: solid 1px rgb(255, 255, 255, 50%);
    background: transparent;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    
}

.border-circle:hover::before,
.border-circle:hover::after {
    transform: scale(1.2);
}