.beforeSubFirst::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #101014bd transparent;
    position: absolute;
    top: -6px;
    right: 10px;
}