@import "tailwindcss";

@font-face {
  font-family: 'Estedad Regular';
  src: url('/Fonts/Estedad-FD-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Estedad Bold';
  src: url('/Fonts/Estedad-FD-Bold.woff2') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Estedad ExtraBold';
  src: url('/Fonts/Estedad-FD-ExtraBold.woff2') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Estedad Light';
  src: url('/Fonts/Estedad-FD-Light.woff2') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Estedad SemiBold';
  src: url('/Fonts/Estedad-FD-SemiBold.woff2') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Estedad Medium';
  src: url('/Fonts/Estedad-FD-Medium.woff2') format('truetype');
  font-display: swap;
}

@theme {
  --font-Estedad-Regular: "Estedad Regular";
  --font-Estedad-Bold: "Estedad Bold";
  --font-Estedad-Light: "Estedad Light";
  --font-Estedad-ExtraBold: "Estedad ExtraBold";
  --font-Estedad-SemiBold: "Estedad SemiBold";
  --font-Estedad-Medium: "Estedad Medium";
  --breakpoint-xs300px: 18.75rem;
  --breakpoint-: ;
  --radius-15px: 0.9375rem; 
  --radius-5px: 0.3125rem; 
  --color-subMenu: #101014c9;
  --color-hover-subMenu: #0000004a;
  --radius-10px: 0.625rem;
  --color-BluesubMenu: #6898f8;
  --text-13px: 0.8125rem;

}

/* dark & light mode */
@custom-variant light (&:where(.light, .light *));

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* class */
@layer components {
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
/* 
  font-family: Estedad Regular, sans-serif;
   color: #fff;
   background-color: #1c1c22;
*/

/* elements */

@layer base {
  body {
    @apply font-Estedad-Regular text-white bg-zinc-900
  }
 .light body {
    @apply  bg-slate-50
  }
  button {
    cursor: pointer;
  }
}

/* container */

@utility container {
  @apply mx-auto px-3.75
}
